// cores
// backkground-color: #009245;
// backkground-color: #3AF08F;
// backkground-color: #3FD987;
// backkground-color: #3AF08F;
// backkground-color: #37E688;

.recomended-mission{
  font-size: 18px;
  font-weight: 300;
  font-family: 'Inconsolata', monospace;
  padding: 5px 10px 0;
  margin:15px 0 0;
  border:2px solid #3fd98788;
  border-radius: 4px;
  .mission{
    &__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:0 0 10px;
    }
    &__description{
      width: 85%;
    }
    &__xp-value{
      background-color: #3AF08F;
      border-radius: 10px;
      padding: 2px 9px;
      height: fit-content;
    }
    &__add-button{
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 30px;

      color: #3FD987;
      border-radius:100px;
      border: 2px solid #3FD987;
      width: 23px;
      height: 23px;

      &:hover{
        background-color: #3FD987;
        color: white;
        transition: all 0.3s;
        cursor: pointer;
      }
    }
  }
}
